:root{
    --cor-branca: #fffffe;
    --cor-preto: #16161a;
    --cor-cinza: #94a1b2;
    --cor-roxa: #7f5af0;
    --cor-verde: #2cb67d;
}

body{
    background-color: var(--cor-preto);
}

header nav {
    background-color: rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(10px);
}

.navbar-toggler{
    background-color: var(--cor-roxa);
}

.logo{
    height: 5rem;
    margin-left: .5rem;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.texto {
    text-align: left;
}

.active, .botao-port, .botao-proj{ 
    background-color: var(--cor-roxa);
}

.botao-proj{
    width: 350px;
    height: 50px;
}

.botao-port:hover, .botao-proj:hover{
    color: var(--cor-roxa);
    border: 1px solid var(--cor-roxa);
    transition: ease-in-out .5s;
}

.imagem-dev{
    width: 50vw;
    height: 50vh;
}

.msg-boas-vindas, .titulo{
    color: var(--cor-branca);
}

p{
    color: var(--cor-cinza);
}

.icone-sobre{
    color: var(--cor-verde);
}

a{
    text-decoration: none;
}

.formulario{
    color: var(--cor-cinza);
}

.botao-env{
    background-color: var(--cor-verde);
    color: var(--cor-branca);
}

.botao-env:hover{
    color: var(--cor-verde);
    border: 1px solid var(--cor-verde);
    transition: ease-in-out .5s;

}

.grife{
    text-decoration: underline var(--cor-verde);
}

footer h4{
    color: var(--cor-cinza);
}

@media screen and (max-width: 768px) {
    .principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .imagem-dev{
        width: 80vw;
        height: 50vh;
    }

}